@model CreateGuestDto
@{
    ViewData["Title"] = "AddGuest";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<h1>AddGuest</h1>
<form class="has-validation" method="post">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <label>First Name</label>
                <input type="text" asp-for="GuestFirstName" class="form-control" />
                <span asp-validation-for="GuestFirstName" class="text-danger"></span>
            </div>
           
            <div class="col-12">
                <label class="d-block">Last Name</label>
                <input type="text" asp-for="GuestLastName" class="form-control" />
                <span asp-validation-for="GuestLastName" class="text-danger"></span>
            </div>                    
           
            <div class="col-12">
                <label>City</label>
                <input type="text" asp-for="GuestCity" class="form-control" />
                <span asp-validation-for="GuestCity" class="text-danger"></span>
            </div>
            <br />                                   
        </div>
    </div>
    <button class="btn btn-info mt-2">Add Guest</button>
</form>
