<!--**********************************
            Sidebar start
        ***********************************-->
<div class="nk-sidebar">
    <div class="nk-nav-scroll">
        <ul class="metismenu" id="menu">

            <li>
                <a href="/Default/Index/" aria-expanded="false">
                    <i class="fa-solid fa-square-up-right"></i><span class="nav-text">Go To WebSite</span>
                </a>
            </li>

            <li>
                <a href="/Dashboard/Index/" aria-expanded="false">
                    <i class="fa-solid fa-gauge"></i><span class="nav-text">Dashboard</span>
                </a>
            </li>

            <li>
                <a href="/AdminUserListWithLocation/Index/" aria-expanded="false">
                    <i class="fa-solid fa-users-gear"></i><span class="nav-text">Admin Users</span>
                </a>
            </li>

            <li>
                <a href="/Staff/Index/" aria-expanded="false">
                    <i class="icon-people menu-icon"></i><span class="nav-text">Staff</span>
                </a>
            </li>

            <li>
                <a href="/Staff/Index/" aria-expanded="false">
                    <i class="fa-solid fa-paper-plane menu-icon"></i><span class="nav-text">Testimonial</span>
                </a>
            </li>

            <li>
                <a href="/Service/Index/" aria-expanded="false">
                    <i class="fa-solid fa-bell-concierge"></i><span class="nav-text">Services</span>
                </a>
            </li>

            <li>
                <a href="/AdminAbout/Index/" aria-expanded="false">
                    <i class="fa-solid fa-info-circle"></i><span class="nav-text">About Us</span>
                </a>
            </li>

            <li>
                <a href="/AdminRoom/Index/" aria-expanded="false">
                    <i class="fa-solid fa-door-open"></i><span class="nav-text">Rooms</span>
                </a>
            </li>

            <li>
                <a href="/AdminGuest/Index/" aria-expanded="false">
                    <i class="fa-solid fa-people-roof"></i><span class="nav-text">Guests</span>
                </a>
            </li>

            <li>
                <a href="/AdminContact/Inbox/" aria-expanded="false">
                    <i class="fa-solid fa-envelope"></i><span class="nav-text">Mail</span>
                </a>
            </li>
            <li>
                <a href="/AdminFile/Index/" aria-expanded="false">
                    <i class="fa-solid fa-folder"></i><span class="nav-text">Add File</span>
                </a>
            </li>

            <li>
                <a href="/WorkLocation/Index/" aria-expanded="false">
                    <i class="fa-solid fa-map-location-dot"></i><span class="nav-text">Work Location</span>
                </a>
            </li>

            <li>
                <a href="#" aria-expanded="false">
                    <i class="fa-solid fa-person-circle-check"></i><span class="nav-text">Authorization</span>
                </a>
            </li>

            <li class="my-2"></li>
            <li>
                <a href="#" aria-expanded="false">
                    <i class="fa-solid fa-gear"></i><span class="nav-text">Settings</span>
                </a>
            </li>

            <li>
                <a href="#" aria-expanded="false">
                    <i class="fa-solid fa-right-from-bracket"></i><span class="nav-text">Log Out</span>
                </a>
            </li>
        </ul>
    </div>      
</div>
<!--**********************************
    Sidebar end
***********************************-->
