
@{
    ViewData["Title"] = "LoadTextFile";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<h1>Load Text File</h1>

<form method="post" enctype="multipart/form-data">
    <div class="container">
        <div class="row">
            <input type="file" class="form-control" name="file" />
            <hr />
            <button type="submit" class="btn btn-dark mt-2">Add File</button>
        </div>
    </div>
</form>